.p-omikuji {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  
	.p-start {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fcfaf5;
    z-index: 1;
    transition: opacity .5s cubic-bezier(0.33, 1, 0.68, 1);

    .is-start & {
      opacity: 0;
      pointer-events: none;
    }

		&__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 40px;
		}
		&__btn {
      width: 80%;
      padding: 15px 0;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      bottom: 40px;
      transform: translateX(-50%);
      background-color: #cc0000;
      color: #fff;
      font-size: 18px;
      text-align: center;
      border-radius: 200px;
      cursor: pointer;
		}
	}
	.p-result {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fcfaf5;
		&__content {
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
			&-top {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: left;
			}
			&-main {
        margin-bottom: 20px;
        font-size: 80px;
        font-weight: 800;
        color: #cc0000;
        text-align: center;
        transform: scale(.8);
        opacity: 0;
        transition: transform .6s cubic-bezier(0.34, 1.56, 0.64, 1) .4s,opacity .6s cubic-bezier(0.33, 1, 0.68, 1) .4s;

        .is-start & {
          opacity: 1;
          transform: scale(1);
        }
			}
			&-btm {
        font-size: 20px;
        text-align: right;
			}
		}
    &__share {

      a {
        display: block;
        width: 80%;
        padding: 15px 0;
        background-color: #1da1f2;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        text-align: center;
      }
    }
	}
}